.form-general-vithas {
    padding: 1rem;
    position: relative !important;
    top: 5% !important;
    width: 100% !important;
    max-width: 500px !important;
    height: initial !important;
    margin-left: auto !important;
    margin-right: auto !important;
    overflow: initial !important;
    outline: none !important;
    font-size: .8rem !important;
    line-height: .9rem;
}

.form-general-vithas h4 {
    font-size: 1.1rem !important;
}

div#continue_pay {
    text-align: center;
}

.vh-loading, .vh-pay-button-redsys {
    margin-top: 0px !important;
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.85);
    z-index: 999;
    width: 100%;
    height: 95%;
    margin: -1rem;
    border-radius: 5px;
    left: 15px;
}

.vh-loading .in, .vh-pay-button-redsys .in, .response-parent-vh .in {
    text-align: center;
    margin: 10% auto;
    font-weight: 600;
    font-size: .7rem;
    padding: 10px 10% 10px 10%;
    text-shadow: 0px 0px 13px white;
    background-color: rgba(255, 255, 255, 0.5);
}

#redsys_action_space {
    width: 300px;
    margin: 20px auto 10px auto;
    text-align: center;
    font-size: 15px;
}

.pay_iframe {
    border: 0px;
    width: 100%;
    height: 70px;
}

.form-general-vithas label {
    color: #6d6d6d !important;
    margin-bottom: 4px;
    font-size: .6rem;
    text-transform: none;
    font-weight: 500;
}

.form-general-vithas input, .form-general-vithas button {
    border-radius: .4rem !important;
}

.form-general-vithas input, .form-general-vithas select {
    border-radius: .4rem !important;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
    border: solid 1px #cacaca;
    font-size: .8rem;
    padding: 5px 10px 5px 10px !important;
}

.blocker {
    background-color: rgba(0, 0, 0, 0.45) !important;
    z-index: 99999;
}

.owl-carousel {
    position: relative;
}

.centro-item {
    padding: .6rem;
    text-align: left;
    word-break: break-word;
}

.centro-item h5 {
    margin: 0;
    height: 50px;
}

.vithas-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.vithas-flex .form-group {
    width: 100%;
    margin: 0 10px 0 0;
}

.btn-vithas-primary {
    background: transparent;
    border: 0;
    background-color: #002f5f;
    color: white;
    padding: .6rem;
    border-radius: 29px;
    font-size: 1rem;
}

.btn-form-contact {
    font-size: 1.1rem;
    font-weight: 600;
}

.btn-vithas-primary:hover {
    background-color: #007ac9;
}

.modal a.close-modal {
    z-index: 999;
}

.modal {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
    padding: .7rem .2rem;
}

.gprd {
    display: none;
    background: rgba(249, 249, 249, 1);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    border-radius: .3rem;
    padding: 1rem;
}

.gprd .in {
    background: #f3f3f3;
    margin-top: 1rem;
    height: 75%;
    border: solid 1px #e0e0e0;
    color: #3c3c3c;
    font-weight: 200;
    border-radius: .2rem;
    box-shadow: inset 0px 0px 15px #e6e6e6;
    padding: .5rem .5rem;
    overflow-y: auto;
    text-align: left;
    line-height: 1.2rem;
}

.blocker {
    padding: 10px !important;
}

.grid-variations {
    background-color: white;
    border: solid 1px #dedede;
    font-size: .8rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.grid-variations #header {
    padding: .5rem 1rem .3rem .5rem;
    height: 2.4rem;
    line-height: 1.4rem;
    border-bottom: solid 1px #dedede;
}

.grid-variations .grid-item {
    padding: 1rem .6rem;
    border-bottom: solid 1px #dedede;
}

.grid-variations .grid-item:last-child {
    border-bottom: 0px;
}

.grid-variations .grid-item .block:first-child {
    width: 70%;
}

.grid-variations .grid-item .block {
    width: 30%;
}

.grid-variations .grid-item .block h6 {
    font-size: .8rem;
    font-weight: 400;
    margin: 0;
    color: #222;
}

.grid-variations .grid-item .block p {
    font-size: .6rem;
}

.grid-variations .grid-item .block:last-child {
    text-align: right;
}

.grid-variations .grid-item .block .center-line {
    line-height: 1.7rem;
}

.grid-variations .grid-item .block .btn {
    font-size: .7rem;
}

.summary .variations_form, .summary .price, .summary .product_meta {
    display: none ! important
}

#vh_main_filter {
    display: flex;
}

#vh_main_filter .cell-filter {
    display: table-caption;
    margin-right: 1rem;
}

#vh_main_filter .cell-filter label {
    font-size: .6rem;
    margin: 0;
}

.response-parent-vh {
    display: none;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
}

#vh_response_parent {
    position: relative;
    min-height: 10rem;
}